
html, body {
  margin: 0;
  padding: 0;
}

.img1 {
    width: 100%;        /* Prend toute la largeur disponible */
    height: 300px;       /* Garder les proportions de l'image */

    
}
a {
  text-decoration: none; /* Retirer le soulignement */
  color: inherit; /* Hériter de la couleur du texte parent */
}

.back-txt {

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.titre {
    font-size: 25px;
}

/* Nouveautés */

.product-card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .product-img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .product-img {
    width: 100%;
    height: 280px;
    background-image: url('https://www.paramountshop.com/cdn/shop/files/spongebob-squarepants-life-sized-cardboard-cutout-standee-946804_1445x.jpg?v=1718292085');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: 700;
  }
  
  .icon-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
  }
  
  .icon-container i {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .fa-heart {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transition: all 0.4s ease;
  }
  
  .fa-heart.full {
    color: #000;
  }
  
  .cart-icon {
    font-size: 24px;
    cursor: pointer;
  }


  .wrapper {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center;     /* Centrage vertical si hauteur définie */
    gap: 40px;               /* Espace entre les éléments */
    
  }

  .iut-img {
    height: 60%;
    width: 50%;
  }

  .uppa {
    font-family: 'Futura PT', sans-serif;
    color: white;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .myButton {
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color:#ffffff;
    border-radius:1px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color:#ffffff;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  

/*FOOTER*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.header-bg-index {
  background-image: url('/images/index_page/header.png');
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
